body {
    margin: 0px;
    max-width: 100%;
}

.header {
    font-size: 48px;
    text-align: center;
    margin-top: 10px;
}

.strong {
    color: #3E45E8;
}

.ukraine {
    color: #E8C23E;
}

.header_img {
    background-image: linear-gradient(to right, rgb(52, 52, 52, 0.35) 65%, rgb(52, 52, 52, 0.01)), url(./img/1444411287_oboyi-na-robochiy-stl-ukrayina-8\ 1.png);
    height: 766px;
    background-repeat: round;
  
}

.description {
    font-size: 48px;
    color: white;
    padding-top: 226px;
    padding-left: 141px;
}

.cards_title {
    font-size: 40px;
    margin-left: 80px;
    font-weight: bolder;
}

.gradient_line {
    width: 779px;
    height: 10px;
    background-image: linear-gradient(to right, #00E0FF, #1400FF 50%, #FFA800 50%, #FFF50000);
    margin-bottom: 42px;
}

.cards {
    min-width: 992px;
    max-width: 1280px;
    margin: 0 auto;
}

.card {
    display: inline-block;
    border: 5px solid #0D095F;
    min-height: 481px;
    vertical-align: top;
    border-radius: 35px;
}

.card_img>img {
    width: 100%;
}

.card_margin {
    margin: 0 2%;
}

.card_title {
    font-size: 24px;
    font-weight: bolder;
    color: #0072DB;
    margin: 10px;
}

.card_description {
    font-size: 20px;
    color: #FF9900;
    margin: 10px;
}

.shadow1 {
    box-shadow: -16px 21px 40px #00D1FF60;
}

.shadow2 {
    box-shadow: 0px 21px 35px #00D1FF60;
}

.shadow3 {
    box-shadow: 16px 21px 40px #00D1FF60;
}

.map_title {
    margin-left: 424px;
    font-size: 40px;
    font-weight: bold;
    border-bottom: 7px solid #1400FF;
    width: 592px;
}

.map_img {
    text-align: center;
}

.map_button {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 36px;
}

.button {
    display: inline-block;
    width: 500px;
    height: 81px;
    text-decoration: none;
    font-size: 64px;
    font-weight: bold;
    color: white;
    border: 1px solid #2A61F0;
    background-color: #2A61F0;
    border-radius: 50px;
}

.footer {
    width: 100%;
    height: 233px;
    background-image: linear-gradient(to bottom, #013235, #0D0661);
    text-align: center;
}

.footer_title {
    font-size: 48px;
    margin-bottom: auto;
    margin-top: 10px;
}

.footer_mail {
    font-size: 36px;
    color: #A89D9D;
    text-decoration: none;
}

.footer_phone {
    font-size: 36px;
    color: #A89D9D;
    text-decoration: none;
}
