body {
    margin: 45px;
    display: flex;
}

.Intake {
    padding-bottom: 50px;
}
form {
    min-width: 700px;
    max-width: 1200px;
    background-color: rgba(249, 249, 249, 1);
    margin: 0 auto;
    height: 100%;
}

.red {
    color: rgba(216, 57, 51, 1);
}

input{
    width: 380px;
    height: 35px;
    border-radius: 3px;
    border: 1px solid;
    border-color: rgba(173, 173, 173, 1);
}

select {
    width: 380px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid;
    border-color: rgba(173, 173, 173, 1);
}

.checkbox {
    width: 24px;
    height: 24px;
    accent-color: rgba(255, 0, 255, 1);
    align-items: center;
}

.column__2 {
    margin-left: 467px;
    margin-top: -560px;
}

#Purged {
    margin-top: 103px;
}

.Mat_info {
    border-top: 1px solid rgba(209, 209, 209, 1);
    padding-top: 32px;

    width: 850px;
    margin-top: 60px;
}

section {margin: 0 43px 0 43px;}

.column__3 {display: flex;
width: 850px;
border-bottom: 1px solid rgba(209, 209, 209, 1);
margin-bottom: 32px;}

.parents {margin-left: 205px;}

.column__4 {

    margin-left: 467px;
    margin-top: -445px;
}

.Sys_info {
    border-top: 1px solid rgba(209, 209, 209, 1);
    padding-top: 32px;
    width: 850px;
    margin-top: 115px;
}

.owner {color: rgba(0, 80, 216, 1);}

.column__5 { margin-left: 467px;
    margin-top: -145px;}

.section_3 {
border-bottom:1px solid rgba(209, 209, 209, 1) ;
padding-bottom: 32px;
}

#button__next {
    height: 40px;
    width: 70px;
    background-color: #0050D8;
    color: white;
    border: #0050D8;
    border-radius: 4px;
    text-transform: uppercase;
    margin: 16px 0 20px 825px;

}

input[type="search"] {
    background-image: url(./css/img/lupa.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right 2% bottom 50%;
}
