body {
    background-color: rgba(0, 17, 36, 1);
    margin: 0 auto;
}

.entrance {
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.img {
    padding-top: 150px;
    max-height: 550px;
}

.img__2 {
    margin-left: 143px;
    
}

.login {
    padding-left: 10%;
    padding-top: 5%;
}

.name__login {
    font-size: 45px;
}

input {
    width: 360px;
    height: 43px;
    margin-bottom: -5px;
}
label{margin-bottom: -6px;}
a {
    text-decoration: none;
    color: rgba(73, 159, 254, 1);
}

.button__login {
    font-size: 20px;
    text-transform: uppercase;
    background-color: rgba(1, 95, 199, 1);
    color: white;
    width: 180px;
    height: 43px;
}
#button__reg {font-size: 20px;
    text-transform: uppercase;
    background-color: rgba(1, 95, 199, 1);
    color: white;
    width: 180px;
    height: 43px;
border-radius: 5px;
margin-left: 25%;
margin-top: 20px;}