body {
    background: #F0FFF0;
    margin: auto;
}

.screen {
    background-color: black;
    width: 404px;
    height: 490px;
    margin: auto;
}

img {
    margin: auto;
    padding: 13px 132px;
}

p {

    width: 302px;
    height: 50px;
    color: white;
    ;

}

.welcome {
    font-weight: bolder;
    font-size: 29px;
    color: white;
    text-align: center;
    margin: auto;
    letter-spacing: 15px;
}

.buttonlog {
    border: 4px solid white;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 302px;
    height: 50px;
}

.buttonsign {
    border: 4px solid white;
    margin-bottom: 20px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 302px;
    height: 50px;
}

.log {
    font-weight: 800;
    font-size: 17px;
    text-decoration: none;
    color: white;
    
    text-transform: uppercase;
}