
.header {
    width: 100%;
    height: 65px;
    background-color: rgba(36, 59, 147, 1);
    display: flex;
    align-items: center;

}

body {
    background-color: rgba(251, 228, 255, 1);
    margin: 0;
}

.logo {
    padding: 8px 158px 8px 15%;
}

.menu a {
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    align-items: center;
    padding: 20px 46px 20px;
}

.menu2 a {
    font-size: 28px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    align-items: center;
    padding: 20px 40px 20px 1px;
}

.header__2 {
    height: 85px;
    background-color: rgba(191, 240, 255, 1);
    font-size: 44px;
    font-style: italic;
    padding-top: 17px;
    padding-left: 15%;
}

.title__choise {
    width: 70%;
    height: 57px;
    background-color: white;
    margin: 30px auto;
    text-align: center;
    color: rgba(0, 0, 0, 0.61);
    font-size: 28px;
    line-height: 2;
}

.card {
    width: 70%;
    height: 300px;
    background: linear-gradient(to right, #ADCBD4 0%, #2CBDEB 100%);
    position: relative;
    align-items: center;
    display: flex;
    margin: auto;

}

.card__img {
    padding-left: 52px;
    width: 447px;
    height: 246px;
}

.card__info {
    padding-left: 33px;
}

.card__name {
    font-size: 36px;
    font-style: italic;
    border-bottom: 3px solid white;
    padding: 4px;
    color: rgba(53, 60, 87, 1);
    padding-bottom: 10px;
}

.card__description {
    font-size: 22px;
    color: rgba(53, 60, 87, 1);
    height: 175px;
    width: 739px;
    background-color: rgba(237, 251, 255, 1);
    margin-top: 10px;
    box-sizing: border-box;
}

.btn {
    position: absolute;
    background-color: rgba(36, 59, 147, 1);
    margin-top: 243px;
    margin-left: 1170px;
    text-align: center;
    display: block;
    border: 3px solid rgba(36, 59, 147, 1);
    border-radius: 30px;
    width: 180px;
    height: 30px;
}

.card__btn {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.star {
    position: absolute;
    margin: 6px 10px 248px 1263px;
    background-image: url(./img/зірка.svg);
    width: 48px;
    height: 46px;
}

.card:hover {
    background: rgba(44, 189, 235, 1);
    box-shadow: 4px 4px 60px rgba(44, 189, 235, 1);
}

.btn:hover {
    background-color: rgba(239, 7, 91, 1);
    border: 3px solid rgba(239, 7, 91, 1);
}

.star:hover {
    background-image: url(./img/star\ yellow.png);
}

.button_up {
    position: fixed;
    top: 85%;
    right: 12%
}